/* Adiciona o uso de fontes do google */
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{ 
    --cor-primaria: #dfe211; /* Cor principal do site */
    --cor-secundaria: #0f1112; /* Cor secundária do site */
    --cor-terciaria: #F4F6F5; /* Cor terciária do site */

    --fonte-primaria: "Spectral", serif;
    --fonte-secundaria: "Roboto", sans-serif;

}
*{

    margin: 0;
    padding: 0;

}

/* Estilo do corpo da página */
body {
                                            
    box-sizing: border-box;                 /* Faz padding e border entrarem no cálculo da largura */    
    background-color: var(--cor-primaria);  /* Define a cor de fundo principal */
    color:var(--cor-secundaria);            /* Define a cor padrão dos textos */

}

/*Classe para destacar parte do título com a cor de destaque*/

.titulo-destque{
    color:var(--cor-tercearia)
}

/* Seção principal de apresentação */
.apresentacao {
    padding: 8% 15%;                        /* Espaçamento interno: cima/baixo 8%, lados 15% */
    display: flex;                          /* Ativa o Flexbox */
    align-items: center;                    /* Alinha os intens verticalmente ao centro */
    justify-content: space-between;         /* Espaça os elementos nas extremidades */

}

/* Div que contém o conteúdo textual da apresentação */
.apresentacao__conteudo {
    width: 615px;                             /* Largura fixa da área de conteúdo */
    display: flex;                          /* Usa Flexbox */
    flex-direction: column;                 /* Organiza os itens em coluna (um embaixo do outro) */
    gap: 40px;                              /* Espaçamento entre os elementos internos */
 
}

/* Título principal da apresentação */
.apresentacao__conteudo__titulo {
    font-size: 36px;                        /* Tamanho granda da fonte */
    font-family: var(--fonte-primaria);     /* Usa a fonte de títulos */
    
}

/* Texto descrito da apresentação */
.apresentacao__conteudo__texto {
    font-size: 24px;                        /* Tamanho da fonte do parágrafo */
    font-family: var(--fonte-secundaria);   /* Usa a fonte secundária */

}

/* Container dos links (botões das redes sociais, por exemplo) */
.apresentacao__links{

    display: flex;                          /* Ativa Flexbox */
    flex-direction: column;                 /* Coloca os links em coluna */
    align-items: center;                    /* Centraliza horizontalmente */    
    justify-content: space-between;         /* Distribui espaço entre os itens */
    gap: 32px;                              /* Espaço entre os links */ 

}

/* Subtítulo da área de links */
.apresentacao__links__subtitulo {

    font-family: var(--fonte-primaria);     /* Fonte de título */   
    font-weight: 400;                       /* Peso normal */
    font-size: 24px;                        /* Tamanho da fonte */
}

/* EStilo dos links que parecem botões */
.apresentacao__links__link {
    /* background-color: var--cor-terciaria); */ /* Cor de fundo comentada (não ativa) */
    display: flex;                          /* Permite alinhar ícone + texto */
    justify-content: center;                /* Centraliza o conteúdo */
    gap: 16px;                              /* Espaço entre ícone e texto */
    border: 2px solid var(--cor-terciaria); /* Borda com cor de destaque */
    width: 378px;                           /* Largura fixa do botão */
    text-align: center;                     /* Centraliza o texto */
    border-radius: 8px;                     /* Cantos arredondados */
    font-size: 24px;                        /* Tamanho do texto */
    font-weight: 600;                       /* Texto semi-negrito */
    padding: 21.5px 0;                      /* Espaçamento interno vertical */
    text-decoration: none;                  /* REmove sublinhado do link */
    color: var(--cor-secundaria);           /* Cor do texto */
    font-family: var(--fonte-secundaria);   /* Fonte do texto */
}
    /* Efeito ao passar o mouse sobre o botão */
    .apresentacao__links__link:hover {
        background-color:var(--cor-terciaria); /* Preenche o fundo com a cor de destaque */
    }
    /* Rodapé da página */
    .rodape{
        padding: 24px;                      /* Espaçamento interno */
        color: var(--cor-secundaria);       /* Cor do TExto */
        background-color: var(--cor-terciaria); /* Fundo do rodapé */
        text-align: center;                 /* Centraliza o texto */
        font-family: var(--fonte-secundaria); /* Fonte do texto */
        font-size: 24px;                    /* Tamanho da fonte */
        font-weight: 400;                   /* Peso normal */
    }
/* Cabeçalho da página */
.cabecalho{
    padding; 2% 0% 0% 15%; /* Espaçamento */
}

/* Menu dentro do cabeçalho*/
.cabecalho_menu{
    display: flex;
    gap: 80px;
}

/* Links do Menu de navegação */
.cabecalho_menu_link{
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color:var(--cor-secundaria);
    text-decoration: none;
}





    










